* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

header {
    width: 100%; height: 70px;
    background-color: grey;
    display: flex; justify-content: center; align-items: center;
}

h2{
    color:blueviolet
}

.Block_red{
    width: 100px; height: 400px;
    background-color: red;
}